<div class="max-w-sm mx-auto py-5">
  <form class="form form-register p-4 border rounded" action="/register" method="post">
    <h4 class="form__title">Đăng ký</h4>
    <div class="error">
      <% if(locals?.error) {%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>

    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control js--email" id="inputEmail" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="inputUsername" class="form-label">Tên của bạn</label>
      <input type="text" class="form-control js--username" id="inputUsername" name="username">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control js--password" id="inputPassword" name="password">
    </div>
    <div class="mb-3">
      <label for="inputConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
      <input type="password" class="form-control js--confirmPassword" id="inputConfirmPassword">
    </div>
    <p>Bạn đã có tài khoản?<a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Đăng nhập</a></p>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
  </form>
</div>


<script src="/js/pages/registerPage.js"></script>