<footer class=" text-center border-top" style="margin-top: 80px;">
  <div class="text-center p-3">
    © 2024 Copyright:
    <a class="text-dark" href="https://github.com/dunneeee/movie_tickets">Dự án bán vé xem phim - môn Công nghệ phần mềm</a>
  </div>
</footer>