<header class=" position-fixed z-3 top-0 start-0 end-0 bg-body-tertiary">
  <nav class="navbar container navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="image"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
          </li>
          <% if (locals?.user?.role=="ADMIN") { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <% } %>
        </ul>

        <% if (locals?.user) { %>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= user.username %>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Vé đã đặt</a></li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
          </ul>
        </div>
        <% } else { %>
        <a href="/login" class="btn mx-2 btn-primary">Đăng nhập</a>
        <a href="/register" class="btn btn-outline-primary">Đăng ký</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>