body {
  font-family: "Roboto Flex", sans-serif;
  /* font-optical-sizing: auto;
  font-style: normal; */
}
.no-underline {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.mt-70 {
  margin-top: 70px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.max-w-md {
  max-width: 992px;
}

.max-w-sm {
  max-width: 576px;
}
